.active {
	color: red;
}

#container {
	display: block;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    box-sizing: border-box;
}

.bg {
	background-image: url(../img/302104493.jpg);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-size: auto 100%;
	background-position: center center;
}

.bottom-btn {
	position: fixed;
	right: 0;
	bottom: 20px;
	height: auto;
	width: 50%;
	text-align: center;
}

.bottom-btn .btn {
	position: relative;
	display: inline-block;
	height: 40px;
	width: 80%;
	margin: 0 auto;
	background: #d33a31;
	border-radius: 20px;
	line-height: 40px;
}

#song-list {
	width: 50%;
	position: absolute;
	left: 0;
	bottom: 20px;
	text-align: center;
}
#song-list li {
	display: inline-block;
	padding: 3px;
	margin-left: 3px;
}

.disc {
	width: 296px;
	height: 296px;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.disc .turn {
	width: 100%;
	height: 100%;
}

.disc:after,.disc .turn:before,.disc .turn:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.disc:after {
	width: 96px;
	height: 137px;
	top: -70px;
	left: 133px;
	z-index: 5;
	background-image: url(../img/needle-ip6.png);
	/*
	transform-origin: top;
	transform: rotate(-40deg);
	*/
	background-size: 96px auto;
}

.disc .turn:before {
	background-image: url(../img/disc.png);
	background-size: 296px auto;
	z-index: 2;
}

.disc .turn .img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 184px;
	height: 184px;
	margin: -92px 0 0 -92px;
	z-index: 1;
}

.disc .turn .img {
	-webkit-animation: truning 20s infinite linear;
	-o-animation: truning 20s infinite linear;
	animation: truning 20s infinite linear;
	
}

.pause {
	-webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes truning{
  0%{-webkit-transform:rotate(0deg);} 
  100%{-webkit-transform:rotate(360deg);}
}

.disc .turn .img img {
	display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.disc .btn {
	display: block;
	z-index: 100;
	width: 56px;
	height: 56px;
	background-image: url(../img/play_mode1.png);
	background-repeat: no-repeat;
	background-size: 56px auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.disc #stop {
	display: none;
	z-index: 100;
	width: 56px;
	height: 56px;
	background-image: url(../img/play_mode1.png);
	background-repeat: no-repeat;
	background-size: 56px auto;
	background-position: 0 -145px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.m-song {
	padding: 0 35px;
}

.m-song #song-head {
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	line-height: 1;
	margin-top: 25px;
}

.m-song #lrc {
	margin-top: 20px;
	font-size: 14px;
	height: 88px; 
	overflow: hidden;
}

.m-song #lrc #song-lrc {
	position: relative;
	top: 0px;
	/*line-height: 2;*/
}

.m-song #lrc #song-lrc li {
	content: " ";
	height: 32px;
}

.control {
	text-align: center;
	position: relative;
	top: 30px;
	line-height: 38px;
}

.control #bar {
	position: relative;
	top: 7px;
	width: 200px;
	height: 4px;
	margin: 0 auto;
	background: rgba(255,255,255,0.6);
	border-radius: 4px;
}

.control #bar #volume-many {
	width: 200px;
	height: 4px;
	position: absolute;
	background: url(../img/bar.png) no-repeat;
	background-size: 100% 100%;
}

.control #bar span {
	position: absolute;
	width: 12px;
	height: 12px;
	left: 0px;
	top: -4px;
	background: url(../img/bar-cover.png) no-repeat;
}


.control #volume-bar {
	position: relative;
	top: 7px;
	width: 200px;
	height: 4px;
	margin: 0 auto;
	background: rgba(255,255,255,0.6);
	border-radius: 4px;
}

.control #volume-bar #many {
	width: 200px;
	height: 4px;
	position: absolute;
	background: url(../img/bar.png) no-repeat;
	background-size: 100% 100%;
}

.control #volume-bar span {
	position: absolute;
	width: 12px;
	height: 12px;
	left: 50%;
	top: -4px;
	background: url(../img/bar-cover.png) no-repeat;
}

.control #current-time, .control #total-time {
	position: absolute;
	color: rgba(255,255,255,0.6);
	font-size: 14px;
}

.control #current-time {
	top: -10px;
	left: 18px;
}

.control #total-time {
	top: -10px;
	right: 18px;
}

/*
.bottom-btn .btn:before {
	content: '';
	display: inline-block;
	position: relative;
	top: 7px;
	width: 22px;
	height: 24px;
	background-position: -100px auto;
	background: url(../img/bar_2x.png) no-repeat;
	background-size: 125px;
}*/
